nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 200px;
}
header{
  background-image: url('../Assets/Hero-bg.png');
  margin: 0;
  background-size: cover;
}
.logo{
  color: #4E47FF;
   font-family: "Open Sans", sans-serif;
 font-size: 34px;
}

.btn-primary{
  background-color: #4E47FF;
font-weight: bold;
color: white;
padding: 18px 35px;
border-radius: 5px;
font-size: 16px ;
border: none;
}

.banner-title{
  font-weight: bold;
  font-size: 65px;
  text-align: center;
}

.second-section{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 100px;
  flex-wrap: wrap;
}
.text-action{
  color: #252432;
  font-weight: bold;
  font-size: 42px;
}
.second-text{
  font-size: 24px;
  color: #252432;
  max-width: 517px ;
  max-height: 60px;
}
.second-image{
  max-width: 403px;
  border-radius: 24px;
  
}
.second-text-bg{
background-color: #252432 rgba(37, 36, 50, 1) #4E47FF  #FFFFFF;
}
.container-title{
  font-size: 30px;
  
}

.container{
  display: flex;
  

}